.bottom{padding: 40px 20px;background-color: #000;margin-top: 40px;color: #fff;height: 300px;}
.bottom h1{font-size: 42px;}
.bottom h2{font-size: 30px;}
.bottomleft{display: inline-block;width: 65%}
.bottomright{position: relative;display: inline-block;width: 25%;height: 100%;}
.bottomright img{width: 240px;height: 240px;position: absolute;margin: auto;right: -10px;top: 0px;bottom: 0px;}
.bottomcontent label{font-size: 30px;}
*{ margin:0; padding:0;list-style:none; }
*{font-family: "Microsoft YaHei";font-weight:200;}
.topitme1{margin-top: 20px;margin-left: 10px;margin-right: 20px;height: 100px;}
.topleft{float: left;height: 80px;}
.topright{float: right;height: 80px;width: 58px;height: 49px;margin-top: 8px;}
.message{background-repeat:no-repeat;background-size: 100%;width: 200px;height: 300px;position: fixed;top:80px;right: 20px;z-index: 99;color: #fff;display: none;}
.message label{font-size: 36px;text-align: center;display: block;margin-top: 15px;border-bottom: 1px solid #fff;padding-bottom: 15px;}
.message a{text-decoration: none;color: #fff;}
.title{text-align: center;}
.titlela1{font-size: 40px;margin-top: 40px;font-weight: 600;display: block;}
.titlela2{font-size: 32px;margin-top: 20px;font-weight: 600;color: #8c8c8c;display: block;}
.title img{width: 100%;}